/* PHASE 4: Footer */

.footer {
  display: block;
  width: 900px;
  background: #fff;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-left: solid 1px #ccc;
  height: 60px;
  margin: auto;
}

.footer-copy {
  float: left;
  color: #aaa;
  padding: 20px;
  box-sizing: border-box;

}

.footer-links {
  float:right;
  padding: 20px;
}

.footer-links > li {
  float: left;
}

.footer a {
  color: #aaa;
  padding: 10px;
}

.footer a:hover {
  color: #000;
}
