<body>
  <h1>Welcome to 99Cats, <%= @user.username %></h1>
  <p>You have successfully signed up for 99Cats.com.
  To log in, please click <a href="http://localhost:3000/session/new">here!</a></p>
  <p>Thanks for joining,</p>
  <p>The 99 Cats Team</p>
</body>
